<div class="post-card">
    <a class="post-card-wrapper" href="{{ post.voucher_link }}" target="_blank">
        {% if post.image!= "" %}
            {% assign src = post.image %}
        {% else %}
            {% assign random = "1,2,3,4,5,6,7,8,9" | split: "," | sample: 3 | join: "" %}
            {% assign src = site.settings.img_placeholder | append: "/" | append: random %}
        {% endif %}
        <div class="image-wrapper" style="background-image: url({{ src }})"></div>
        <div class="post-card-wrapper-info">
            <h2>{{ post.title }}</h2>
            <span>{{ post.address }}</span>
        </div>
    </a>
    <div class="post-card-footer">
        <a href="{{ post.voucher_link }}" target="_blank">{{ site.translations.voucher_link }}</a>
        {% if post.delivery_link != "" and post.delivery_link != post.voucher_link %}
            <a href="{{ post.delivery_link }}" target="_blank">{{ site.translations.delivery_link }}</a>
        {% endif %}
    </div>
</div>