<div class="post-card">
    <a class="post-card-wrapper" href="{{ post.link }}">
        <div class="image-wrapper">
            {% if post.image %}
                {% assign src = post.image %}
            {% else %}
                {% assign random = "1,2,3,4,5,6,7,8,9" | split: "," | sample: 3 | join: "" %}
                {% assign src = site.settings.img_placeholder | append: "/" | append: random %}
            {% endif %}
            <img src="{{ src }}" alt="{{ post.title }}">
        </div>
        <div class="post-card-wrapper-info">
            <h2>{{ post.title }}</h2>
            <span>{{ post.address }}</span>
        </div>
    </a>
    <div class="post-card-footer">
        <a href="{{ post.link }}">{{ site.translations.donate }}</a>
    </div>
</div>