<header class="header">
    <div class="container">
        <div class="header-inner">
            <a class="logo" href="{{ '/' | relative_url }}" class="header-title">
                <i class="fas fa-heart"></i>
                <span>{{ site.settings.title }}</span>
            </a>
            <nav class="header-links">
                {% for item in site.navigation %}
                <a href="{{ item.link | relative_url }}" class="header-link" itemprop="url">
                    <span itemprop="name">{{ item.name }}</span>
                </a>
                {% endfor %}
                <a href="{{ site.settings.google_form }}" target="_blank" class="header-link add-business"">
                    <span itemprop="name">{{ site.translations.mail_add_business }}</span>
                </a>
            </nav>
        </div>
    </div>
</header>