---
layout: default
---
<div class="header-info">
    <div class="container">
        <h2>{{ site.settings.description }}</h2>
    </div>
</div>
<div class="container">
    <div class="home">
        <div id="search" class="search-wrapper">
            <form action onsubmit="event.preventDefault()">
                <label for="search-input" class="search-input-append">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input id="search-input" type="search" value="" class="form-control" placeholder="{{ site.translations.search_placeholder }}" />
            </form>
        </div>

        <div id="post-container" class="posts">
            {% for post in paginator.posts %}
                {{ post }}
            {% endfor %}
        </div>
        <div id="post-result-container" class="posts"></div>

        <div id="post-pager">
            {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | relative_url }}" class="button">
                    <i class="fa fa-chevron-left"></i>
                </a>
                {% endif %}

                {% if paginator.page > 2 %}
                    {% assign offset = paginator.page | minus:3 %}
                    {% assign pages_left = paginator.total_pages | minus:offset %}

                    {% if pages_left <  5 %}
                        {% assign offset = paginator.total_pages | minus:5 %}
                    {% endif %}
                {% else %}
                    {% assign offset =  0 %}
                {% endif %}

                {% for page in (1..paginator.total_pages) limit:5 offset:offset %}
                    {% if page == paginator.page %}
                    <em>{{ page }}</em>
                    {% elsif page == 1 %}
                    <a href="{{ '/' | relative_url }}">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | relative_url }}" class="button">
                    <i class="fa fa-chevron-right"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div> 
    </div>
</div>